#events-opener {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}


#private-bookings .panel-container, #wine-tastings .panel-container {
    text-align: right;
}


#private-bookings li, #wine-tastings li {
    list-style: none;
}


@media (max-width: 820px) {

    #private-bookings .panel-container, #wine-tastings .panel-container {
        flex-direction: column-reverse;
        text-align: left;
    }
    #private-bookings li, #wine-tastings li {
        list-style: disc;
    }
}

#private-bookings .panel-container, #weekly-gatherings .panel-container {
    height: 80vh;
}

@media (max-width: 820px) {
    #private-bookings .panel-container, #weekly-gatherings .panel-container {
        height: 140vh;
    }
}

#private-bookings a, #wine-tastings a {
    text-decoration: underline;
}
